<%= form_with model: @feature, method: :post, url: admin_features_path, local: false, html: {class: 'p-5 shadow-lg'} do |f| %>
  <div class="form-group">
    <%= f.label :feature_detail, 'タグ名', class: 'col-md-2' %>
    <%= f.text_field :feature_detail, autofocus: true, autocomplete: 'off', class: 'col-md-6', id: "name_text_field" %>
    <%= f.submit '追加', class: 'btn-primary btn-sm  col-md-2 offset-1' %>
  </div>
<% end %>