<div class="align-center">
  <div class="row m-3"><h5>登録済み一覧</h5></div>
  <div class="tag-index">
    <%= render 'tag_index', features: @features %>
  </div>
</div>
<div class="row">
  <div class="col-md-11 mx-auto">
    <h5 class="m-3">追加登録</h5>
    <div class="tag-form">
      <%= render 'tag_form', features: @features %>
    </div>
  </div>
</div>
