<div class="container">
	<div class="row">
		<div class="about col-md-12">
			<center>
			<b>「ココつれてっちゃお ～横須賀市編～」</b>は、<br>
			安心して子育てできる街づくりを支援するために生まれた、<br>
			横須賀市在住の親御さんや横須賀市へ移住を検討中の子育て世帯へ向けた、<br>
			公園レビューサイトです。<br>
			<br>
			横須賀市は、自然豊かな環境と多彩な公園が特徴です。<br>
			週末の楽しい遊び場を探す際や、<br>
			公園の設備を事前に知りたいとき、<br>
			他の利用者の感想を知りたいとき、<br>
			そして公園利用後に気づいたことを共有したいときに、<br>
			このサイトが役立ちます。<br>
			<br>
			子どもたちの笑顔と安全な遊び環境を確保するため、<br>
			地元の公園情報を発信する貴重なプラットフォームとして、ぜひご活用ください。<br>
			<br>
			</center>
		</div>
	</div>
</div>