<div class="container">
  <h3>編集する</h3>
  <div class ="row">
    <%= render 'admin/parks/form',parks: @parks %>
    <div class="row justify-content-end">
      <div class="col-md-1">
      <%= button_to "この公園情報を削除する", admin_park_path(@park.id),  class:"btn-danger btn-sm", method: :delete, data: {confirm: "削除しますか？"} %>
      </div>
    </div>
  </div>
</div>


