<%= form_with model: [park, review_comment], local: false do |f| %> <!--local: false 非同期通信-->
  <div class="form-group">
    <% f.label :comment %>
    <%= f.text_area :comment, placeholder: "レビューをここに", class: 'form-control review_comment' %>
    <%= f.submit "送信", class: 'btn btn-success' %>
  </div>
<% end %>
