<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
    <li class="nav-item"><a class="nav-link" href="/parks">公園一覧</a></li>
    <li class="nav-item"><a class="nav-link" href="/members/sign_in">ログイン</a></li>
    <li class="nav-item"><a class="nav-link active" href="/members/sign_up">新規登録</a></li>
</ul>