<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <% if admin_signed_in? %>
        <a class="navbar-brand" href="/admin">ココつれてっちゃお</a>
      <% else %>
        <a class="navbar-brand" href="/">ココつれてっちゃお</a>
      <% end %>

        <% if member_signed_in? %>
        <%= "ようこそ、#{ current_member.account_name } さん！" %>
        <% end %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <% if member_signed_in? %>
              <%= render 'layouts/headder_members' %>
            <% elsif admin_signed_in? %>
              <%= render 'layouts/headder_admin' %>
            <% else %>
              <%= render 'layouts/headder_guests' %>
            <% end %>
          </div>
    </div>
</nav>










